[
  {
    "ParameterKey": "FunctionName",
    "ParameterValue": "${FUNCTION_NAME}"
  },
  {
    "ParameterKey": "Environment",
    "ParameterValue": "${ENVIRONMENT}"
  },
  {
    "ParameterKey": "Memory",
    "ParameterValue": "${MEMORY}"
  },
  {
    "ParameterKey": "Subnets",
    "ParameterValue": "${SUBNETS}"
  },
  {
    "ParameterKey": "Timeout",
    "ParameterValue": "${TIMEOUT}"
  }
]